{% extends "base.html" %}

{% block content %}
<br>
<br>
<div class="container has-text-centered">

    <div class="columns center-block">
        <div class="column is-8 is-offset-2">
            <div class="card has-text-left">
                <div class="card-content">
{#                  <form action="{% url 'account:' %}" method="POST">{% csrf_token %}#}
                    <div class="content"><strong>Ваш логин: </strong>{{ user.username }}</div>
                    <div class="content"><strong>Электронная почта: </strong>{{ user.email }}</div>

                    <div class="field">
                        <div class="field-label"><label class="label has-text-left">Пароль:
                        <button class="button" style="color: #555555" type="submit" value="Save">
                            <strong>выслать на почту форму изменения пароля</strong>
                        </button></label></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="columns center-block">
        <div class="column is-8 is-offset-2">
            <div class="card has-text-left">
              <div class="card-content">

                <div class="field is-horizontal">
                  <div class="field-label is-normal"><label class="label has-text-left">Имя: </label></div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        {% if user.first_name %}
                        {{ user.first_name }}</p>
                        {% else %}
                      <label>
                         <input class="input is-black is-static" name="first_name" type="text" placeholder="укажите имя">
                            {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %}
                      </label>
                      {% endif %}
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label has-text-left">Фамилия: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                     {% if user.last_name %}
                      <p class="control">
                        {{ user.last_name }}</p>
                        {% else %}
                      <label>
                         <input class="input is-black is-static" name="last_name" type="text" placeholder="укажите фамилию">
                            {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %}
                      </label>
                      {% endif %}
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                      <label class="label has-text-left">День рождения: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      {% if user.profile.birthday %}
                      <p class="control">
                        {{ user.profile.birthday }}</p>
                        {% else %}
                        <form>
                            <div class="form-group">
                                <div class="content inputDate"><label><input type="date" class="form-control"></label>
                                </div>
                            </div>
                        </form>
                      {% endif %}
                    </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>


    <div class="columns center-block">
        <div class="column is-8 is-offset-2">
            <div class="card has-text-left">
              <div class="card-content">

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label has-text-left">Отдел: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        {% if user.profile.department %}
                        {{ user.profile.department }}</p>
                        {% else %}
                      <label>
                         <input class="input is-black is-static" name="department" type="text" placeholder="укажите отдел">
                            {% if form.department.value %}value="{{ form.department.value }}"{% endif %}
                      </label>
                      {% endif %}
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label has-text-left">Должность: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                     {% if user.profile.position %}
                      <p class="control">
                        {{ user.profile.position }}</p>
                        {% else %}
                      <label>
                         <input class="input is-black is-static" name="position" type="text" placeholder="укажите должность">
                            {% if form.position.value %}value="{{ form.position.value }}"{% endif %}
                      </label>
                      {% endif %}
                    </div>
                  </div>
                </div>


                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label has-text-left">Телефон: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                     {% if user.profile.phone_number %}
                      <p class="control">
                        {{ user.profile.phone_number }}</p>
                        {% else %}
                      <label>
                         <input class="input is-black is-static" name="phone_number" type="text" placeholder="укажите телефон">
                            {% if form.phone_number.value %}value="{{ form.phone_number.value }}"{% endif %}
                      </label>
                      {% endif %}
                    </div>
                  </div>
                </div>

              <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label has-text-left">Telegram: </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                     {% if user.profile.telegram %}
                      <p class="control">
                        {{ user.profile.telegram }}</p>
                        {% else %}
                      <label>
                         <input class="input is-black is-static" name="telegram" type="text" placeholder="укажите telegram">
                            {% if form.telegram.value %}value="{{ form.telegram.value }}"{% endif %}
                      </label>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

       <div class="columns center-block">
        <div class="column is-4 is-offset-4">
            <button class="button is-block is-dark is-medium is-fullwidth" type="submit" value="Save">
                <strong>Cохранить изменения</strong>
            </button>
        </div>
      </div>
    <br>
{#  <form>#}

</div>
{% endblock %}
