{% extends "base.html" %}
{% block content %}
    <div class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/moskva/nedvizhimost?s_trg=6">Недвижимость</a></li>
            <li><a href="/moskva/rabota?s_trg=6">Работа</a></li>
            <li><a href="/moskva/predlozheniya_uslug?s_trg=6">Услуги</a></li>
            <li><a href="/moskva/lichnye_veschi?s_trg=11">Личные вещи</a></li>
        </ul>
    </div>
    <div class="container">
        <h2 class="subtitle">
            Одежда, обувь, аксессуары
        </h2>
        <ul>
            {% for product in product_list %}
                <li><a href="{{ product.url }}">{{ product.title }}</a> - {{ product.price }}</li>
            {% empty %}
                <li>Не найдено объявлений в данной группе</li>
            {% endfor %}
        </ul>
{% endblock %}