{% extends 'base.html' %}

{% block content %}
    <div class="columns">
        <div class="column is-two-fifths">
            <form action="" method="GET">
                <input name="q" type="text" class="input" placeholder="Введите запрос">
                <div class="column">
                    <button type="submit" class="button">Поиск</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <h2 class="subtitle is-right">
            Одежда, обувь, аксессуары
        </h2>
        <div class="styles-foot">
            <ul class="tile is-vertical">
                {% for product in product_list %}
                    <li><a href="{% url 'product:view_product' product.id %}">{{ product.title }}</a>
                        - {{ product.price }} </li>
                {% empty %}
                    <li>Не найдено объявлений по данному запросу, проверьте написание</li>
                {% endfor %}
            </ul>
        </div>
        </br>

    </div>
    <div class="tile is-ancestor">
        <nav class="pagination is-centered" role="navigation">
            {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"
                   class="pagination-previous">назад</a>{% endif %}
            {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="pagination-next">далее</a>
            {% endif %}
            <ul class="pagination-list">
                <li>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

