<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <title>AD</title>
</head>

<body class="os x chrome chrome-chrome">
<section class="hero is-fullheight">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{% url 'main_page:index' %}">
                        <span class="icon is-large" style="color: white">
                            <span class="fa-stack">
                                <i class="fa fa-home fa-stack-2x"></i>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item">Новости</a>
                        <a class="navbar-item">Объявления</a>
                    </div>

                    <div class="navbar-end">
                        {% if user.is_authenticated %}
                            <div class="buttons">
                                <a class="button is-light" href="{% url 'account:profile' %}">Личный кабинет</a>
                                <a class="button is-light" href="{% url 'product:product_create' %}">Подать объявление</a>
                                <a class="button is-light" href="{% url 'account:logout' %}">Выйти</a>
                            </div>
                        {% else %}
                            <div data-marker="header/favorites" class="navbar-item">
                                <a href="{% url 'account:login' %}" title="Избранное" class="nav-link">
                                    <svg width="21" height="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.918 5.085a5.256 5.256 0 0 1 7.524 0c2.077 2.114 2.077 5.541 0 7.655l-7.405 7.534a.75.75 0 0 1-1.074 0L2.558 12.74c-2.077-2.114-2.077-5.54 0-7.655a5.256 5.256 0 0 1 7.524 0c.15.152.289.312.418.479.13-.167.269-.327.418-.479z"
                                              fill="#CCC" fill-rule="nonzero"></path>
                                    </svg>
                                </a>
                            </div>
                            <a class="buttons"></a>
                            <div class="navbar-item">
                                <a href="{% url 'account:login' %}" class="button is-outlined">Вход и регистрация</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        <div class="container">
        {% block content %}{% endblock %}
        </div>
    </div>
</section>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</body>

<footer class="footer">
    <div class="container">
        <div class="container is-desktop">
        </div>
    </div>
</footer>

</html>