<!doctype html>
<html lang="ru" class="mdl-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css"/>
    <link rel="stylesheet" type="templates/css" href="../apps/main_page/header.css">

    <title>AD</title>
    <style>
        body {
          background: url(../static/main_page/body.png);
          background-size: 100%;
        }
        footer {
          background: url(../static/main_page/footer.png);
          background-size: 100%;
        }
    </style>
</head>

<body class="os x chrome chrome-chrome">
<section class="hero">
    <div class="hero-head is-centered">
        <div class="container is-desktop">
            <nav class="navbar">
                <div class="tabs is-medium">
                    <ul>
                        <li><a>Новости</a></li>
                        <li><a>Объявления</a></li>
                    </ul>
                </div>

                <div class="navbar-end">
                    {% if user.is_authenticated %}
                        <div class="buttons">
                            <a class="button is-light" href="{% url 'account:profile' %}">Личный кабинет</a>
                            <a class="button is-light" href="{% url 'product:product_create' %}">Подать объявление</a>
                            <a class="button is-light" href="{% url 'account:logout' %}">Выйти</a>
                        </div>
                    {% else %}
                        <div data-marker="header/favorites" class="navbar-item">
                            <a href="{% url 'account:login' %}" title="Избранное" class="nav-link">
                                <svg width="21" height="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.918 5.085a5.256 5.256 0 0 1 7.524 0c2.077 2.114 2.077 5.541 0 7.655l-7.405 7.534a.75.75 0 0 1-1.074 0L2.558 12.74c-2.077-2.114-2.077-5.54 0-7.655a5.256 5.256 0 0 1 7.524 0c.15.152.289.312.418.479.13-.167.269-.327.418-.479z"
                                          fill="#CCC" fill-rule="nonzero"></path>
                                </svg>
                            </a>
                        </div>
                        <a class="buttons"></a>
                        <div class="navbar-item">
                            <a href="{% url 'account:login' %}" class="button is-outlined">Вход и регистрация</a>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</section>
<section class="hero-body">
        <div class="container is-desktop">
            {% block content %}{% endblock %}
        </div>
</section>
<section class="hero-foot">
        <footer class="footer">
            <div class="content has-text-centered">
                <div class="container is-desktop">
                </div>
            </div>
        </footer>
</section>
</body>
</html>